
@{
    ViewData["Title"] = "Login";
}

<div>
    <form>
        <h2>Welcome back</h2>
        <p>welcome back! please enter your details</p>

        <div>
            <label>Email</label>
            <input type="text" placeholder="Enter your email"/>
        </div>

        <div>
            <label>Password</label>
            <input type="text" placeholder="Enter your password"/>
        </div>

        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
